In [4]:
import os 
import numpy as np
import pandas as pd

In [8]:
os.listdir('datasets')

['cars.csv', 'weather.csv']

In [9]:
cars_data = pd.read_csv("datasets/cars.csv")

In [13]:
cars_data.head()

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,"$36,945","$33,337",3.5,6.0,265.0,17.0,23.0,4451.0,106.0,189.0
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,"$23,820","$21,761",2.0,4.0,200.0,24.0,31.0,2778.0,101.0,172.0
2,Acura,TSX 4dr,Sedan,Asia,Front,"$26,990","$24,647",2.4,4.0,200.0,22.0,29.0,3230.0,105.0,183.0
3,Acura,TL 4dr,Sedan,Asia,Front,"$33,195","$30,299",3.2,6.0,270.0,20.0,28.0,3575.0,108.0,186.0
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,"$43,755","$39,014",3.5,6.0,225.0,18.0,24.0,3880.0,115.0,197.0

In [11]:
cars_data.shape

(432, 15)

In [17]:
cars_data.isnull().sum()

Make           4
Model          4
Type           4
Origin         4
DriveTrain     4
MSRP           4
Invoice        4
EngineSize     4
Cylinders      6
Horsepower     4
MPG_City       4
MPG_Highway    4
Weight         4
Wheelbase      4
Length         4
dtype: int64

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [21]:
cars_data['Model'].value_counts

<bound method IndexOpsMixin.value_counts of 0                          MDX
1               RSX Type S 2dr
2                      TSX 4dr
3                       TL 4dr
4                   3.5 RL 4dr
                ...
427    C70 LPT convertible 2dr
428    C70 HPT convertible 2dr
429                 S80 T6 4dr
430                        V40
431                       XC70
Name: Model, Length: 432, dtype: object>

In [26]:
cars_data.isin()

TypeError: only list-like objects are allowed to be passed to isin(), you passed a `str`

In [22]:
cars_dats.apply()

NameError: name 'cars_dats' is not defined